snippet note
	<!-- NOTE:  ${1} -->
snippet todo
	<!-- TODO:  ${1} -->
snippet question
	<!-- QUESTION:  ${1} -->
snippet link
	[$1${VISUAL}]($2)
snippet img
	![$1]($2)
snippet code
	\`\`\`$1
	$2${VISUAL}
	\`\`\`
	$0
snippet ic
	\`$1${VISUAL}\`
snippet emdash
	—
snippet bphcommand
	{{% command %}}
	$1${VISUAL}
	{{% /command %}}
